<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568185647460-8pkqbqep3mhikamfsut0ha9qbm63g6pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568185647460-8pkqbqep3mhikamfsut0ha9qbm63g6pc</string>
	<key>API_KEY</key>
	<string>AIzaSyDBM2iZ3pweAyPybGvuHuicYpJW33K3A94</string>
	<key>GCM_SENDER_ID</key>
	<string>568185647460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.hemg2.LoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>loginsampleapp-bfae0</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsampleapp-bfae0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568185647460:ios:c84668c342b372c5250a71</string>
</dict>
</plist>